bleach==3.3.0
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cmarkgfm==0.4.2
colorama==0.4.4
cryptography==3.4.7
docutils==0.17.1
future==0.18.2
idna==2.10
importlib-metadata==3.10.0
keyring==23.0.1
packaging==20.9
pip==21.1.1
pkginfo==1.7.0
pycparser==2.20
Pygments==2.9.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
readme-renderer==24.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
setuptools==52.0.0.post20210125
six==1.15.0
tqdm==4.59.0
twine==3.4.1
urllib3==1.26.4
webencodings==0.5.1
wheel==0.36.2
zipp==3.4.1